<h1>Angular Use Cases</h1>

<!-- Previous Components -->
<app-event-binding></app-event-binding>
<app-two-way-binding></app-two-way-binding>
<app-property-binding></app-property-binding>
<app-parent-binding></app-parent-binding>
<app-ngfor-ngif-binding></app-ngfor-ngif-binding>
<app-reactive-form-validation></app-reactive-form-validation>
<app-toggle-visibility></app-toggle-visibility>
<app-pagination-example></app-pagination-example>

<!-- New Component for Modal Dialog -->
<app-modal-dialog></app-modal-dialog>
